:root {
    --bg-col: #eeeeee;
    --main-col: #cccccc;
    --alt-col: #888888;
    --accent-col: #aaccee;
    --alt-accent-col: #6688dd; 
    --selected-col: #7799ee;
    --layer-select-col: #bbbbbb; 
    --selectable-col: #ebebeb;
    --selectable-highlight-col: #dfdfff;
}

* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--bg-col);
}

#canvas {
    border: 2px solid black;
}

.ribbon {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--main-col);
    margin-bottom: 15px;
}

.ribbon .version {
    position: absolute;
    right: 25px;
}

.left {
    position: relative;
    background-color: var(--main-col);
    right: 5px;
    padding-inline: 1%;
    padding-block: 0.5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right {
    position: relative;
    left: 5px;
    background-color: var(--main-col);
    padding-inline: 1%;
    padding-block: 0.5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    min-width: 1100px;
}

.options {
    width: 100%;
    text-align: center;
}