#toolbar {
    display: grid;
    width: 100%;
    /* background-color: red; */
    gap: 10px 5px;
    grid-template-columns: auto;
    margin-top: 10px;
}

#toolbar .selected {
    outline: 2px solid gray;
}