#tool-options {
    background-color: var(--main-col);
    flex-basis: 100%;
    margin-inline: 9rem;
    margin-block: 0.5rem;
    border-radius: 15px;
    display: flex;
    padding-inline: 0.3rem;
    align-items: center;
}

#tool-options * {
    margin-inline: 0.3rem;
    margin-block: 1rem;
}

#tool-options .slider {
    appearance: none;
    background-color: var(--alt-col);
    height: 10px;
    border-radius: 25px;
}

#tool-options .slider::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--alt-accent-col);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
}

#tool-options .slider::-webkit-slider-thumb:active {
    background-color: var(--selected-col);
}