#toolbar {
    display: grid;
    width: 100%;
    gap: 10px 5px;
    grid-template-columns: auto;
    margin-top: 10px;
}

#toolbar .selected {
    background-color: var(--accent-col);
}

#toolbar .selected:hover {
    background-color: var(--accent-col);
}